@model BookStore.Models.DatHangChiTiet

@{
    ViewData["Title"] = "Delete";
}

<h2 style="font-weight:bold">Bạn đã chắc là muốn xóa chứ???</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatHang.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sach.TenSach)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xác nhận xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay về danh sách</a>
    </form>
</div>
