@model BookStore.Models.DatHang

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4 style="padding-top:10px">THÔNG TIN CHI TIẾT</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DienThoaiGiaoHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DienThoaiGiaoHang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChiGiaoHang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayDatHang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.HoVaTen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NhanVien.HoVaTen)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-danger " asp-action="Edit" asp-route-id="@Model.Id">Cập nhật</a>
    <a asp-action="Index">Danh sách sản phẩm</a>
</div>