@model BookStore.Models.Sach

@{
    ViewData["Title"] = "Create";
}
<h1></h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.NhaXuatBanId)
                @Html.DropDownList("NhaXuatBanId", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NhaXuatBanId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LoaiSachId)
                @Html.DropDownList("LoaiSachId", null, "-- Chọn --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LoaiSachId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="TenSach" class="control-lable"></label>
                <input asp-for="TenSach" class="form-control" />
                <span asp-validation-for="TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-lable"></label>
                <input asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-lable"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnhBia" class="control-lable"></label>
                <input type="file" name="file" accept="image/jpg , image/jpeg, image/png"/>
                <span asp-validation-for="HinhAnhBia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-lable"></label>
                <textarea asp-for="MoTa" class="form-control border" rows="5"></textarea>
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-danger" style="font-weight:bold" />   <a asp-action="Index">Quay về danh sách</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
